.idea
spice
*.iml
*/src/test/log/
src/main/resources/*.properties
src/main/resources/*.xml
src/main/resources/*.csv
*/src/test/resources/SclkKernelTests/
*/src/test/resources/SclkScetTests/
*/src/test/resources/TableTests/
!src/test/resources/SclkKernelTests/.empty
!src/test/resources/SclkScetTests/.empty
!src/test/resources/TableTests/.empty
.DS_Store
.classpath
.project
.settings
doc/*

mmtc-core/log
mmtc-core/logs

# gradle
build/
.gradle/

*.tar.gz
*.zip
*.rpm

.vagrant
