<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <!--style>
        body {
            font-family: sans-serif;
            margin: 2rem;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        th {
            background: #eee;
        }
    </style-->
    <style>${picoCss?no_esc}</style>
    <style>
        :root {
          --pico-font-size: 90%
        }
    </style>
    <#if includeCharts>
        <script>${utilsJs?no_esc}</script>
        <script>${dateFnsJs?no_esc}</script>
        <script>${echartsJs?no_esc}</script>
        <#noparse>
        <script>
            function buildTooltipContentForErrorMetric(paramName, param) {
                let tooltipSectionForParam = param.marker + paramName + '<br/>';

                const attributes = [];

                attributes.push({key: 'SCET (UTC)', val: `${param.data.originalTlmPoint.timeScetUtc}`});
                attributes.push({key: 'Error (ms)', val: `${param.data.originalTlmPoint.value}`});

                tooltipSectionForParam += getAttrTableHtmlFor(attributes);

                return tooltipSectionForParam;
            }

            function buildTooltipContentForCorrelation(paramName, param) {
                let tooltipSectionForParam = param.marker + `${paramName} <br/>`;

                const attributes = [];

                attributes.push({key: 'Encoded SCLK', val: `${param.data.originalTriplet.encSclk}`});
                attributes.push({key: 'TDT(G)', val: `${param.data.originalTriplet.tdtGCalStr}`});
                attributes.push({key: 'Clock rate', val: `${param.data.originalTriplet.clkchgrate}`});

                tooltipSectionForParam += getAttrTableHtmlFor(attributes);

                return tooltipSectionForParam;
            }

            function buildTooltipContent(param) {
                if(param.seriesId.startsWith("SCET-Error")) {
                    return buildTooltipContentForErrorMetric("SCET Error (ms)", param)
                } else if(param.seriesId.startsWith("TDTS-Error")) {
                    return buildTooltipContentForErrorMetric("TDT(S) Error (ms)", param)
                } else if (param.seriesId.startsWith("timeCorrRecords-for-")) {
                    return buildTooltipContentForCorrelation("Correlation record", param)
                } else {
                    return "";
                }
            }

            function xAxisFormatter(value, index, extra){
                const d = new Date(value);
                return '{bold|' + toYyyyDd(d) + '} ' + toHhMm(d);
            }

            function echartstooltipFormatter(params) {
                htmlContents = 'SCET: ' + toYyyyDddHhMmssSSS(new Date(params[0].axisValue)) + '<hr/>';

                params.forEach(p => {
                    htmlContents += buildTooltipContent(p) + "<br/>"
                });

                return htmlContents;
            }
        </script>
        </#noparse>
    </#if>
</head>
<body>
    <header>
        <hgroup>
            <h1>${title}</h1>
            <br/>
            <p>Generated by MMTC on ${generatedDateString} using ${ctx.currentSclkKernelDescription.get()}.</p>
            <p>The most recent time correlation entry in this kernel is ${ctx.currentSclkKernelLatestTripletAgeDays.get()} days old.</p>
        </hgroup>
        <hr/>
    </header>
    <main>
        <#list trendingPeriods as trendingPeriod>
            <section id='${trendingPeriod["title"]}'>
                <h2>${trendingPeriod["title"]}</h2>
                <p>Trending period (SCET (UTC)): ${trendingPeriod["trendRangeStartScetUtc"]} to ${trendingPeriod["trendRangeStopScetUtc"]}</p>
                <#list trendingPeriod.errorTrendingMetrics as errorTrend>
                    <article>
                        <h3>${errorTrend["title"]}</h3>
                        <#if errorTrend.sufficientDataForTrendingExists>
                            <#if includeCharts && errorTrend["showPlot"]>
                                <div id='${errorTrend["title"]}-plot' style='width: 100%; height: 600px'></div>
                            </#if>
                            <table style="width: auto;">
                                <thead>
                                    <tr>
                                        <th scope="col">Data Point</th>
                                        <th scope="col">SCET (UTC)</th>
                                        <th scope="col">Error (ms)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Prior</th>
                                        <td>${errorTrend.priorScetUtcForErrorCalc}</td>
                                        <td>${errorTrend.priorErrorMs}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Latest</th>
                                        <td>${errorTrend.latestScetUtcForErrorCalc}</td>
                                        <td>${errorTrend.latestErrorMs}</td>
                                    </tr>
                                </tbody>
                            </table>

                            Over these two telemetry points spanning ${errorTrend["telemetryTimeRangeDays"]} days, ${errorTrend["title"]} accumulated at a rate of ${errorTrend["valChangeRatePerDay"]} ms per day.

                            <#if errorTrend.thresholdAlreadyViolated>
                                As of the latest measurement, the error threshold of ${errorTrend["errorThresholdMs"]} ms has already been crossed.
                            <#else>
                                <#if errorTrend["errorThresholdMayHaveAlreadyBeenReached"]>
                                    At this rate, the error threshold of ${errorTrend["errorThresholdMs"]} ms may have been crossed on ${errorTrend["estimatedScetWhenErrorThresholdWillBeReached"]} (SCET (UTC)).
                                <#else>
                                    At this rate, the error threshold of ${errorTrend["errorThresholdMs"]} ms will be crossed on ${errorTrend["estimatedScetWhenErrorThresholdWillBeReached"]} (SCET (UTC)).
                                </#if>
                            </#if>

                        <#else>
                            Insufficient data exists during this time range to calculate these metrics.
                        </#if>
                    </article>
                </#list>
                <#if trendingPeriod?has_next>
                    <br/>
                    <hr/>
                    <br/>
                </#if>
            </section>
        </#list>
    </main>
    <footer>
        <hr/>
        <small>Generated by ${generatedBy}.</small>
    </footer>
    <!-- this is here so echarts get initialized after their div containers are created -->
    <#if includeCharts>
        <#list trendingPeriods as trendingPeriod>
            <#list trendingPeriod.errorTrendingMetrics as errorTrend>
                <#if errorTrend["showPlot"]>
                    <script>${errorTrend["echartsJs"]?no_esc}</script>
                </#if>
            </#list>
        </#list>
    </#if>
</body>
</html>
